body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.container {
  padding-bottom: 120px; /* espaço para os botões fixos */
}

video, canvas {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 12px;
}

canvas {
  display: none;
}

h2 {
  margin-top: 15px;
  font-weight: bold;
}

h3 {
  margin: 15px 0;
  font-size: 22px;
  color: #ff7a00;
}

.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  background: #000;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.5);
}

button {
  flex: 1;
  max-width: 150px;
  padding: 15px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff7a00;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
  background-color: #e66800;
}